<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Extension Updates</key>
        <array>
            <dict>
                <key>CFBundleIdentifier</key>
                <string>com.skytteit.jsonviewer</string>
                <key>Developer Identifier</key>
                <string>CW8F5L4TVF</string>
                <key>CFBundleVersion</key>
                <string>1.0.0</string>
                <key>CFBundleShortVersionString</key>
                <string>1.0.0</string>
                <key>URL</key>
                <string>https://greew.dk/jsonviewer/JSONViewer.safariextz</string>
                <key>Update From Gallery</key>
                <true/>
            </dict>
        </array>
    </dict>
</plist>